body { 
	padding-top: 70px; 
	font-family: Tahoma, Geneva, sans-serif;
}

/* Navigation appearance CSS */

.open>.dropdown-menu {
	background-color: #222222;
}

.dropdown-menu>li>a {
	color: #9d9d9d;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #222222;
	color: white;
}

.dropdown-menu>.active>a,  .dropdown-menu>.active>a:hover {
	background-color: black;
}

/* End of Navigation CSS */

.successButton {
	margin-bottom: 15px;
}

.sPlanStory, .sPlanTask {
	width: 250px;
	height: auto;
	border-style: solid;
	text-align: center;
	border-width: 1px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	border-color: #880044;
	box-shadow: 3px 3px 5px #888888;
}

.sPlanStory>h4, .sPlanTask>h4 {
	color: #880044;
}

#taskStateTd{
	width: 25%;
}

.pageDesc{
	border-color: #880044; 
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	margin-left: 20%;
	margin-right: 20%;
	padding: 2%;
	text-align: center;
}

.pageDesc>h4{
	color: #880044;
}

.btn-info, .btn-info:focus {
    background-color: white;
    border-color: #238AA9;
    color: #238AA9;
}
.btn-info:hover {
    background-color: #238AA9;
    color: white;
}
.btn-success, .btn-success:focus {
    background-color: white;
    border-color: #3E8E3E;
    color: #3E8E3E;
}

.btn-success:hover {
    background-color: #3E8E3E;
    color: white;
}

.btn-danger, .btn-danger:focus {
    background-color: white;
    border-color: #A72925;
    color: #A72925;
}

.btn-danger:active {
    background-color: #A72925;
    color: white;
}

.btn-help, .btn-help:focus{
	background-color: white;
	border-color: #880044;
	color: #880044;
}
.btn-help:hover{
	background-color: #880044;
	color: white;
}

.btn-nav, .btn-nav:focus{
	background-color: white;
	border-color: #222222;
	color: #222222;
}
.btn-nav:hover{
	background-color: #222222;
	color: white;
}

/* CSS for Backlog */
th,td {
	text-align: center;
}

.table>thead{
	white-space: nowrap;
}

