body { 
	padding-top: 70px; 
	font-family: Tahoma, Geneva, sans-serif;
}

/* Navigation appearance CSS */

.open>.dropdown-menu {
	background-color: #222222;
}

.dropdown-menu>li>a {
	color: #9d9d9d;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #222222;
	color: white;
}

.dropdown-menu>.active>a,  .dropdown-menu>.active>a:hover {
	background-color: black;
}

/* End of Navigation CSS */

.sPlanStory, .sPlanTask {
	width: 250px;
	height: auto;
	border-style: solid;
	text-align: center;
	border-width: 1px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	border-color: #880044;
}

.sPlanStory>h4, .sPlanTask>h4 {
	color: #880044;
}

#taskStateTd{
	width: 25%;
}

.pageDesc{
	border-color: #880044; 
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	margin-left: 20%;
	margin-right: 20%;
	padding: 2%;
	text-align: center;
}

.pageDesc>h4{
	color: #880044;
}



/* CSS for Backlog */
th,td {
	text-align: center;
}

